<!DOCTYPE html>
<html lang="en">
  <head>

    <partial name="_Head" />

  </head>
  <body>


    <partial name="_Header" />


    <main class="main">

        @RenderBody()

    </main>



    <partial name="_Footer" />

    <partial name="_Scripts" />

  </body>
</html>