@model Contactpage

@{
    ViewData["Title"] = "İletişim Sayfası";
}

<div class="row mb-6 gy-6">
    <div class="col-xl">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">İletişim Sayfası</h5>
                @if (Model is null)
                {
                    <a class="btn btn-primary" asp-action="Create">Sayfa Oluştur</a>
                }
            </div>
            <div class="card-body">

                <h6 class="mb-4">Genel</h6>

                <div class="mb-6">
                    <label class="form-label" asp-for="Tittle"></label>
                    <input type="text" class="form-control" asp-for="Tittle" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="Description"></label>
                    <input type="text" class="form-control" asp-for="Description" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="Maps"></label>
                    <textarea class="form-control" asp-for="Maps" readonly disabled></textarea>
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="ButtonTitle"></label>
                    <input type="text" class="form-control" asp-for="ButtonTitle" readonly disabled />
                </div>

                <hr class="my-6" />
                <h6 class="mb-4">Mağazalar</h6>

                <div class="mb-6">
                    <label class="form-label" asp-for="StoresTittle"></label>
                    <input type="text" class="form-control" asp-for="StoresTittle" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="StoresDescription"></label>
                    <input type="text" class="form-control" asp-for="StoresDescription" readonly disabled />
                </div>

                <hr class="my-6" />
                <h6 class="mb-4">Alt Bölüm</h6>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomTitle"></label>
                    <input type="text" class="form-control" asp-for="BottomTitle" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomDescription"></label>
                    <input type="text" class="form-control" asp-for="BottomDescription" readonly disabled />
                </div>

                <hr class="my-6" />
                <h6 class="mb-4">Chat</h6>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomChatIconClass"></label>
                    <input type="text" class="form-control" asp-for="BottomChatIconClass" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomChatTitle"></label>
                    <input type="text" class="form-control" asp-for="BottomChatTitle" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomChatDescription"></label>
                    <input type="text" class="form-control" asp-for="BottomChatDescription" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomChatMail"></label>
                    <input type="text" class="form-control" asp-for="BottomChatMail" readonly disabled />
                </div>

                <hr class="my-6" />
                <h6 class="mb-4">Telefon</h6>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomPhoneIconClass"></label>
                    <input type="text" class="form-control" asp-for="BottomPhoneIconClass" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomPhoneTitle"></label>
                    <input type="text" class="form-control" asp-for="BottomPhoneTitle" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomPhoneDescription"></label>
                    <input type="text" class="form-control" asp-for="BottomPhoneDescription" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomPhoneNumber"></label>
                    <input type="text" class="form-control" asp-for="BottomPhoneNumber" readonly disabled />
                </div>

                <hr class="my-6" />
                <h6 class="mb-4">Harita</h6>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomMapIconClass"></label>
                    <input type="text" class="form-control" asp-for="BottomMapIconClass" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomMapTitle"></label>
                    <input type="text" class="form-control" asp-for="BottomMapTitle" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomMapDescription"></label>
                    <input type="text" class="form-control" asp-for="BottomMapDescription" readonly disabled />
                </div>

                <div class="mb-6">
                    <label class="form-label" asp-for="BottomMapAddress"></label>
                    <input type="text" class="form-control" asp-for="BottomMapAddress" readonly disabled />
                </div>

                @if (Model != null)
                {
                    <a class="btn btn-primary" asp-action="Edit">Düzenle</a>
                }
            </div>
        </div>
    </div>
</div>